# Visual Studio otomatik dosyaları
.vs/
*.user
*.suo
*.cache
*.db
*.vsp
*_backup*
*.opendb

# Build klasörleri
bin/
obj/
Debug/
Release/
x64/
x86/

# NuGet Paketleri
packages/
*.nupkg
*.snupkg

# SQLite temp dosyaları
*.db-shm
*.db-wal

# Log
*.log

# Publish output
publish/
